.container{
	margin-top:10%;
	margin-bottom:10%;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.right {
	margin-right:auto;

}
.left {
	margin-left:auto;
}
.col-md-4{
	padding:none;
}