.container{
	margin-top: 2%;
	margin-bottom: 2%;
	overflow: hidden;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	border-left:1px solid #eee;
	border-right:1px solid #eee;
	background-color: white;
}

.content .span4 {
    margin-left: 0;
    padding-left: 19px;
    border-left: 1px solid #eee;
}
.container .img-responsive {
	height: 60px;
	width: 95px;
	max-width: 95px;
	max-height: 60px;
	overflow: hidden;
	padding: 10px 10px;
}

body {
  padding-top: 50px;
  background-color: #eee;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

input, textarea {
    padding: 9px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    }
   
textarea {
    width: 400px;
    max-width: 400px;
    height: 150px;
    line-height: 150%;
    }
   
input:hover, textarea:hover,
input:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    }
   
.form label {
    margin-left: 10px;
    color: #999999;
    }
   
.submit input {
    width: auto;
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    }
	
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
